<div class="conteudo-toggle">
  <p>POST</p>
  <label class="toggle-switch">
    <input type="checkbox" [(ngModel)]="metodoGet" />
    <div class="slider"></div>
  </label>
  <p>GET</p>
</div>
<hr>
<div *ngIf="metodoGet">
  <button type="button" class="btn btn-primary" (click)="getUsuariosGitHub()">
    Buscar usuários
  </button>
<div class="container-cards">
  <div class="apigithub" *ngFor="let usuario of usuariosGit">
    <div class="card" style="width: 18rem">
      <img
        src="{{ usuario?.avatar_url }}"
        class="card-img-top"
        alt="{{ usuario?.login }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ usuario?.login }}</h5>
        <a href="{{ usuario?.html_url }}" class="btn btn-dark">git hub</a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container-tabela" *ngIf="!metodoGet">
  <button type="button" id="post" class="btn btn-primary">
    Adcionar Piero (Post)
  </button>
  <app-tabela *ngIf="dadosTabela" [dados]="dadosTabela"></app-tabela>
</div>
