<h1 class="display-4">Teste de conhecimento prático</h1>
<p class="lead">
  Aqui demonstro meus conhecimentos no desenvolvimento Front End.
</p>
<hr class="my-4" />
<ul>
  <li>Usei o bootstrap para fazer layout amigável de forma rápida.</li>
  <li>Usei ngx-boostrap para utilização do modal</li>
  <li>Usei conceito de componentização para alguns itens</li>
  <li>Usei json-server para simular um backend e persistir os dados inseridos no POST</li>
  <li>Usei rotas simples e rotas com parâmetro para exibição de detalhes da lista</li>
  <li>Fiz duas chamadas AJAX (GET e POST)</li>
  <li>Fiz um módulo para separar funcionalidades</li>
</ul>
